#Models
*.pt
lora_weights/
lora_weights(2)/
lora_weights(3)/
lora_weights(curr)/
*.dat

# Model Cache & Checkpoint Directories
checkpoint-*/
results/
models/
offload_cache/

.env
*.pyc
__pycache__/
**/__pycache__/