#Models
*.pt

# EXCEPTION: Do not ignore this specific file
!tb_classifier (5).pt

lora_weights/
lora_weights(2)/
lora_weights(3)/
lora_weights(curr)/
*.dat

# Model Cache & Checkpoint Directories
checkpoint-*/
results/
models/
offload_cache/


.env
*.pyc
__pycache__/


evaluation/